.Rproj.user
.Rhistory
.RData
.Ruserdata
clean_290345872390523.R
.RDataTmp2
.RDataTmp3
.RDataTmp4
.RDataTmp5
Dataset/All/2019_01.csv
Dataset/All/2019_02.csv
Dataset/All/2019_03.csv
Dataset/All/2019_04.csv
Dataset/All/2019_05.csv
Dataset/All/2019_06.csv
Dataset/All/2019_07.csv
Dataset/All/2019_08.csv
Dataset/All/2019_09.csv
Dataset/All/2019_10.csv
Dataset/All/2019_11.csv
Dataset/All/2019_12.csv
Dataset/All/2020_01.csv
Dataset/All/2020_02.csv
Dataset/All/2020_03.csv
Dataset/All/2020_04.csv
Dataset/All/2020_05.csv
Dataset/All/2020_06.csv
Dataset/All/2020_07.csv
Dataset/All/2020_08.csv
Dataset/All/2020_09.csv
Dataset/All/2020_10.csv
Dataset/All/2020_11.csv
Dataset/All/2020_12.csv
Dataset/All/2021_02.csv
Dataset/All/2021_03.csv
Dataset/All/allmonths.csv
Dataset/ontimeallmonths.csv
Dataset/Q1/2019_01.csv
Dataset/Q1/2019_02.csv
Dataset/Q1/2019_03.csv
Dataset/Q1/2020_01.csv
Dataset/Q1/2020_02.csv
Dataset/Q1/2020_03.csv
Dataset/Q1/2021_01.csv
Dataset/Q1/2021_02.csv
Dataset/Q1/2021_03.csv
Dataset/Q1/q1.csv
Dataset/Q1/q1_big_three
Dataset/Q1/q1_big_three.csv
*.feather
*.csv
*.xlsx
clean_time.R
20190101_0000.gz
